/*color for dark font 222832;*/
@font-face {
  font-family: 'Favorit';
  src: url('./fonts/ABCFavorit-Regular.otf');
}

@font-face {
  font-family: 'Favorit_medium';
  src: url('./fonts/ABCFavorit-Medium.otf');
}

:root {
  --furiosa-red: #e21500 !important;
  --furiosa-highlight: #cdbbff;
  --external-link-icon: url('./imgs/arrow--up-right.svg');
  --color-header-btn: #f4f7ff;
  --color-code-literal: #f4f7ff;
  --color-code-literal-text: #1b0333;
  --color-code-bg-hl: #f4f7ff;
  --color-code-bg-btn: #ffffff;
  --color-link: #e21500;
  --pst-color-muted: #000000 !important;
  --pst-color-primary: #000000 !important;
  --pst-color-secondary: none !important;
  --pst-color-info-bg: #76d6ff !important;
  --pst-color-success-bg: #70e697 !important;
  --pst-color-warning-bg: #fec2a0 !important;
  --pst-color-inline-code: #000000 !important;
  --pst-color-shadow: rgba(0,0,0,0)!important;
  --pst-color-accent: #e21500 !important;
  --pst-color-table-heading-bg: #ffffff !important;
  --pst-color-table-row-zebra-low-bg: #f4f7ff!important;
  --pst-color-table-row-zebra-high-bg: #ffffff!important;
}

:root[data-theme="dark"] {
  --furiosa-red: #e21500 !important;
  --furiosa-highlight: #cdbbff !important;
  --external-link-icon: url('./imgs/arrow--up-right-dark.svg');
  --color-code-bg-hl: #151515;
  --color-code-bg-btn: #151515;
  --color-header-btn: #444444 !important;
  --color-code-literal: #444444;
  --color-code-literal-text: #70e679;
  --color-link: #fec2a0;
  --pst-color-muted: #ffffff !important;
  --pst-color-background: #000000 !important;
  --pst-color-text-base: #d4d4d4 !important;
  --pst-color-primary: #ffffff !important;
  --pst-color-info-bg: #1b0333 !important;
  --pst-color-success-bg: #02250d !important;
  --pst-color-warning-bg: #440a07 !important;
  --pst-color-inline-code: #ffffff !important;
  --pst-color-table-heading-bg: #151515 !important;
  --pst-color-table-row-zebra-low-bg: #000000!important;
  --pst-color-table-row-zebra-high-bg: #151515!important;
}



/* Title */
.navbar-brand{
  align-items: start !important;
}
.sidebar-title{
  clear:both;
  color: inherit;
  text-align: start;
  font-size: x-large;
  margin-right: auto;
  font-weight: bold;
  color: var(--pst-color-primary)!important;
  font-family: 'Favorit', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.navbar-brand:hover{
  color: inherit !important;
  margin-bottom: 0px;
}

/* Prev / Next */

.prev-next-info{
  border: 1px solid;
  padding: .75rem .5rem;
  border-radius: .25em;
  font-size: .75rem;
  color: var(--pst-color-primary)!important;
}
.prev-next-info:hover{
  color: inherit!important;
}

.prev-next-area .fa-angle-right,.prev-next-area .fa-angle-left{
  display: none !important;
} 

.prev-next-info .prev-next-subtitle{
  color: inherit !important;
  text-align: start;
  font-weight: bold;
}

.prev-next-info .prev-next-title{
  color: inherit !important;
  text-decoration: none !important;
  font-weight: inherit !important;
  padding-top: .5rem;
}

/* Search */
.btn{
  --bs-btn-focus-box-shadow: none !important; 
}

.search-button-field{
  border-radius: .25em;
}

.bd-search:focus-within{
  box-shadow: none !important;
}

/* Content */
a:hover{
  color: var(--color-link) !important;
  text-decoration: none !important;
}

.rst-content .line-block {
  margin-bottom: 0;
}

/* Table */
table caption{
  text-align: left!important;
  color: var(--pst-color-primary)!important;
}

thead p{
  color: var(--pst-color-primary)!important;
}

.caption-text{
  font-weight: bold;
}

tr{
  pointer-events: none !important;
}

.table thead tr, .table thead th{
  border-bottom: none!important;
}

/* Main Sidebar */

#pst-primary-sidebar{
  padding-right: 2rem;
}

#pst-primary-sidebar .toctree-l1 a{
  text-decoration: none !important;
  padding-left: 10px !important;
}
#pst-primary-sidebar .toctree-l1 a:hover{
  text-decoration: none !important;
  color: var(--color-link) !important;
}

#pst-primary-sidebar .toctree-l1 .reference.external{
  color: inherit;
}

nav.bd-links li>a.reference.external:after {
  content: var(--external-link-icon) !important;
}

/* Sub Sidebar */

.toc-entry.active a{
  box-shadow: none !important;
}

.page-toc.onthispage{
  visibility: hidden;
}

/* Admonition */

.admonition{
  border:1px solid var(--pst-color-border)!important;
  background-color: var(--pst-color-background)!important;

}

.admonition-title::before, .admonition-title::after{
  display:none!important;
}

.admonition-title{
  padding: 0.4rem 1.2rem 0.4rem 1.2rem !important;
  
  margin-left: -.6rem !important;
  margin-right: -.6rem !important;
}

.admonition p.admonition-title~*, div.admonition p.admonition-title~*{
  margin-left: .6rem !important;
  margin-right: .6rem !important;
}

/* Code in Admonition */
.admonition .highlight-sh pre{
  background-color: var(--color-header-btn)!important;
}

/* Announcement */
.bd-header-announcement{
  background-color: var(--furiosa-highlight)!important;
  color: #222832;
}
.bd-header-announcement a{
  color: #000000!important;
}

.bd-header-announcement a:hover{
  color: #000000!important;
}

/* Article Header */

@media (min-width: 960px) {
  button.sidebar-toggle.primary-toggle{
    display:none;
  }
}

.btn.pst-navbar-icon{
  font-size:x-small;
  background-color: var(--color-header-btn);
  border-radius: 500px;
}
.btn.pst-navbar-icon:hover{
  background-color: var(--color-header-btn)!important;
}
.header-article-items__end{
  display: flex;
}
.header-article-item{
  margin-left: 12px;
}
.search-button{
  display: flex !important;
}
.search-button:focus-visible{
  outline: none!important;
}

/* Inline Code */
code.literal{
  color: var(--color-code-literal-text)!important;
  background-color: var(--color-code-literal)!important;
}

/* Table of contents */
.contents.local{
  background-color: var(--color-code-bg-hl) !important;
}

/* Footer */
.bd-footer-content{
  display: none !important;
}

/* logo */
#furiosa_logo{
  content: url('./imgs/furiosa-logo.webp')
}

/*header*/
h1, h2, h3, h4, h5, h6{
  font-weight: 400!important;
  font-family: 'Favorit_medium', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*card*/
.sd-card{ 
  background-color: var(--color-code-bg-btn)!important;
}
.sd-card-body{
  background-color: unset!important;
}
.sd-card:hover{
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .3s;
  border: 1px solid var(--pst-color-border)!important;
}